
.heading
{
font-size: 25px;
width: 100%;
margin: 0px;
}
stop{
    height: 42;
     width:55;
    border-radius: 75px; 
     margin-top: 7px;
}
body{
    background-size: cover;
    background-position: center;
}
canvas{
    box-shadow: 10px 10px 10px lightseagreen;
    border-radius: 10px;
    margin-top:30px;
}
